<h2><%= @user.first_name %> <%= @user.last_name %></h2>
<div class="card">
  <div class="card-body shadow-sm">
    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <p>
      <strong>Birthday:</strong>
      <%= @user.birthday %>
    </p>

    <div class="list-group">
      <% @user.events.each do |event| %>
        <li class="list-group-item"><%= event.name %></li>
      <% end %>
    </div>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>
</div>