<div class="card m-1 border-light shadow-sm"  id="task_list_<%= task_list.id %>">
    <div class="card-body">
        <h4 class="m-0">
            <%= bootstrap_form_with model: task_list, local: false, data: { remote: true } do |form| %>
                <%= form.text_field :name, id: "task_list_name_#{task_list.id}", hide_label: true, class: 'border-0', data: { controller: 'submit-on-change' } %>
            <% end %>
        </h4>
        <hr class="mt-0"/>
        <ul class="list-group">
            <%= render task_list.incomplete_tasks %>
            <%= render partial: 'tasks/list_item_form', locals: { task: Task.new(task_list: task_list) } %>
        </ul>
    </div>
</div>