<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Life App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <%# Using CDNs until packages are figured out %>
    <%# Select2 %>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <%# Daterange picker %>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  </head>

  <body>
    <div class="container-fluid">
      <div class="row test">
        <div class="col-3 d-none d-lg-block col-xl-2">
          <% if content_for?(:sidenav) %>
            <%= yield :sidenav %>
          <% end %>
        </div>
        <div class="col-sm-12 col-lg-9 col-xl-10">
          <div class="container mt-4">
            <%= yield %>
          </div>
        </div>
      </div>
      <div id="modal-slot" class="modal"></div>
    </div>
  </body>
</html>
